.profile-circle {
    padding: 50px;
    min-width: 200px;
}

article {
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.experience {
    /* max-width: 75%; */
    margin-top: 2rem;
}

body > main {
    padding: 1.25rem 0;
}

.experience .container {
    display: flex;
    padding: 1rem;
}

.experience .content {
    padding: 1rem;
    margin-top: -20px;
}

.experience .container hgroup {
    justify-content: center;
}

.experience .container img {
    padding-right: 1rem;
    width: auto;
    height: 100px;
}
